:root{
    --main-color-1: #77A6F7;
    --accent-color-1: #8D8741;
    --accent-color-2: #DAAD86;
    --accent-color-3:#BC986A;
    --accent-color-4:#AC3B61;
}

body{
    background-color: var(--main-color-1);
    font-family:'Times New Roman', Times, serif;
}

main{
    /*Size to make div look like 8.5" x 11" piece of paper */
    width: 21.6cm;
    min-height: 27.94cm;
    padding: 1cm 2cm 1cm 2cm;
    margin: .5cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.visit_counter{
    background-color: #FFFFFF;
    width: 200px;
    height: 100px;
    padding: 10px;
    
    justify-content: space-between;
    position: fixed;
    display: flex;

    border-radius: 7px;
    box-shadow: 3px 3px#0F0F0F;
}

#close_button{
    height: 12px;
    width: 12px;
    cursor: pointer;
}
.count_container{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.count_container span{
    font-size: 1.5rem;
}

#v_count{
    display: block;
}


main h1{
    text-align: center;
}

main > h4{
    text-align: center;
    margin: 0px;
}
main h2{
    border-bottom: 1px solid black;
    margin-bottom: 0px;
}
.section-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.section-header h3{
    margin-bottom: 3px;
}

.section-content{
    margin-left: 0;
}
.section-content span{
    display: block;
}

ul{
    margin: 0;
}

li{
    margin: 3px 0;
  }

@media print {
    @page {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
    }


    h1{
        text-align: center;
        margin-top: .75em;
    }
    
    h4{
        text-align: center;
        font-size:small;
        margin: 0px;
    }

    h2{
  
        border-bottom: 1px solid black;
        margin-bottom: 0px;
    }

  }